@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .custom-scrollbar::-webkit-scrollbar {
    width: 20px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
}
